 <div class="row" style="margin-top: 2rem; position: relative; left: 4rem">
    <div class="col-4">
        <button id="plus_santa" type="button" class="btn btn-light btn-lg" onclick="santa_func();">Доставит дед Мороз</button>
    </div>
    <div class="col-4">
        <button id="plus_elves" type="button" class="btn btn-light btn-lg" onclick="elves_func();">Доставит эльф</button>
    </div>
    <div class="col-4">
        <button id="plus_mail" type="button" class="btn btn-light btn-lg" onclick="mail_func();">Доставит "Почта России"</button>
    </div>
</div>

<div class="row" style="margin-top: 2rem;">
    <div class="col">
        <button id="plus_all" type="button" class="btn btn-primary btn-lg btn-block" onclick="all_func();">Доставка всеми тремя способами</button>
    </div>
</div>