<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clicker</title>
    <link href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.4/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">
    <style>
    body {
        background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('https://img4.goodfon.ru/original/3500x2500/9/83/rozhdestvo-xmas-decoration-fir-tree-wood-merry-christmas-n-1.jpg');
    }
    .navbar-brand{
        margin-left: 45.5%;
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
    </style>
</head>

<body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark font-weight-bold">
        <a class="navbar-brand" href="/clicker">New Year Clicker</a>
      </nav>
    </header>

    <main role="main" class="flex-shrink-0">

        <div class="container">

            <div class="card" style="margin-top: 2rem;">
                <div class="card-header">Уже доставлено</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Доставлено лично Дедом Морозом: <span id="santa_count">количество</span> </li>
                    <li class="list-group-item">Доставлено эльфами-курьерами: <span id="elves_count">количество</span> </li>
                    <li class="list-group-item">Доставлено "Почтой России": <span id="mail_count">количество</span> </li>
                </ul>
            </div>

            <div class="container">
                <div class="row" style="margin-top: 2rem; position: relative; left: 4rem">
                    <div class="col-4">
                        <button id="plus_santa" type="button" class="btn btn-light btn-lg" onclick="santa_func();">Доставит дед Мороз</button>
                    </div>
                    <div class="col-4">
                        <button id="plus_elves" type="button" class="btn btn-light btn-lg" onclick="elves_func();">Доставит эльф</button>
                    </div>
                    <div class="col-4">
                        <button id="plus_mail" type="button" class="btn btn-light btn-lg" onclick="mail_func();">Доставит "Почта России"</button>
                    </div>
                </div>

                <div class="row" style="margin-top: 2rem;">
                    <div class="col">
                        <button id="plus_all" type="button" class="btn btn-primary btn-lg btn-block" onclick="all_func();">Доставка всеми тремя способами</button>
                    </div>
              </div>
            </div>

            <div class="container" style="margin-top: 4rem">
                <div>
                    <button type="button" class="btn btn-success btn-lg btn-block">Сохранить значения на сервер</button>
                </div>
            </div>

        </div>
    </main>

    <footer class="footer mt-auto py-3 text-right">
        <div class="container">
            <span class="text-muted">&copy; MSHP 2020</span>
        </div>
    </footer>


    <script>
        let a = 0;
        let b = 0;
        let c = 0;
        load_scores();
        function load_scores() {
            let s1 = document.getElementById("santa_count");
            let s2 = document.getElementById("elves_count");
            let s3 = document.getElementById("mail_count");
            s1.innerHTML = a;
            s2.innerHTML = b;
            s3.innerHTML = c;
        }

        function santa_func() {
            a++;
            load_scores();
        }

        function elves_func() {
            b++;
            load_scores();
        }

        function mail_func() {
            <!-- Да, я смог прочитать ту самую надпись -->
            alert("Мужчина, вы что не видите? У нас перерыв!!!");
            load_scores();
        }

        function all_func() {
            a++;
            b++;
            c++;
            load_scores();
        }
    </script>
</body>
</html>